<html>
  <body>
    <div class="login">
      <h1>FWI Prediction</h1>

      <form action="{{ url_for('predict_datapoint') }}" method="post">
        <input type="text" name="Temperature" placeholder="Temperature" /><br />
        <input type="text" name="RH" placeholder="RH" /><br />
        <input type="text" name="Ws" placeholder="Ws" /><br />
        <input type="text" name="Rain" placeholder="Rain" /><br />
        <input type="text" name="FFMC" placeholder="FFMC" /><br />
        <input type="text" name="DMC" placeholder="DMC" /><br />
        <input type="text" name="ISI" placeholder="ISI" /><br />
        <input type="text" name="Classes" placeholder="Classes" /><br />
        <input type="text" name="Region" placeholder="Region" /><br />

        <button type="submit">Predict</button>
      </form>

      <h2>The FWI Prediction is {{ results }}</h2>
    </div>
  </body>
</html>
